/*written by Jasmine, edited by Nathan and Gabe*/
.bodyGrid {
   grid-area:bodyArea;
   margin:auto;
   width:90%;
   display:grid;
   padding: 20px;
   grid-template-rows:1fr;
   grid-template-columns:1fr;
   grid-template-areas:
   'contactcontent'
   'details'
 }
 .contactcontent{
	grid-area:maincontent;
 }
 .bannerArea {
	grid-area:bannerArea;
	background-image: url('../assets/lulusnew.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	
 }
  .details {
	 grid-area: details;
	 text-align: center;
 }
 
  #required { color: red; }
  
 #contactform { background-color: #c4dbad; }
 
 #contactform label { float: left; }
 
 iframe { padding: 10px 10px 10px 10px; }
 
h2, p { text-align: center; }

 .details a { padding-right: 80px; }	
 
  #logo { position: relative;
		 -webkit-animation-name: fade;
		 -webkit-animation-duration: 4s;
		 animation-name: fade;
		 animation-duration: 4s;
 }
 
 @-webkit-keyframes fade {
	from {opacity: .1}
	to {opacity: 1}
 }
   @media only screen and (max-width: 2000px) {
	   
	   
   }
 
	@media only screen and (max-width: 950px) {

	 
}