/*written by Gabe*/
.bodyGrid {
	grid-area:bodyArea;
	display:grid;
	grid-template-rows: auto;
	grid-template-columns: auto;
	grid-template-areas:
	'maincontent maincontent'
	'gridContainer gridContainer'
	'gridContainer gridContainer'
	'aside aside'
}
.grid-container {
  grid-area: gridContainer;
  display: grid;
  grid-template-columns: 25% 25%;
  padding: 5px;
  margin:auto;
  justify-items: center;
  justify-content: space-evenly;
  grid-column-gap: 50px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  'item item2'
  'item3 item4'
}
p {
    text-align:center;
}
.maincontent {
	grid-area:maincontent;
}
.asidebar {
	grid-area:aside;
}
.grid-item {
  grid-area: item;
  padding: 15px;
  font-size: 15px;
}
.grid-item2 {
  grid-area: item2;
  padding: 15px;
  font-size: 15px;
}
.grid-item3 {
  grid-area: item3;
  padding: 15px;
  font-size: 15px;
}
.grid-item4 {
  grid-area: item4;
  padding: 15px;
  font-size: 15px;
}
a {
    color: purple;
} 
a:visited {
    color:red;
}

.bannerArea {
	grid-area:bannerArea;
	background-image: url('../assets/lulusnew.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	
 }
  h3{
      text-align: center;
      color: black;
  }
  h3:active{
      color:blue;
  }
  h3:hover { text-decoration: none; color: blue; }
  h3:focus { text-decoration: none; color: blue; }
  h3:hover, h3:active { text-decoration: none; color: blue; }
