/*Written by Jasmine, edited by Nathan*/

.bodyGrid {
   grid-area:bodyArea;
   margin:auto;
   width:90%;
   display:grid;
   padding: 20px;
   grid-template-rows:1fr;
   grid-template-columns:2fr 1fr;
   grid-template-areas:
   'maincontent details'
 }
 .attr { font-weight: bold;
		color: #083b66;
		padding-right: 100px;
}
 #localimg { width: 1000px;
			height: 600px;
 }

 .maincontent{
   grid-area:maincontent;
 }
 .details {
	 grid-area: details;
 }
 .floatr { float: right; 
margin-top:0;}
  #logo { position: relative;
		 -webkit-animation-name: fade;
		 -webkit-animation-duration: 4s;
		 animation-name: fade;
		 animation-duration: 4s;
 }
 @-webkit-keyframes fade {
	from {opacity: .1}
	to {opacity: 1}
 }
   @media only screen and (max-width: 2000px) {
	 .details {
	 grid-area: details;
	 margin-left: 300px;
	 margin-right: 300px;
 }
 
 @media only screen and (max-width: 950px) {
	#localimg {
		height: 600px;
		width: 700px;
	}
	 .details {
	 grid-area: details;
	 margin-left: 0px;
	 margin-right: 0px;
 }

}
