/*Written by Jasmine, edited by Nathan*/
#root {
   height:100vh;
   width:100vw;
   display:grid;
   grid-template-rows:3fr 1fr 5fr 5fr;
   grid-template-columns:1fr 1fr 1fr;
   grid-template-areas:
   'bannerArea bannerArea bannerArea'
   'navArea navArea navArea'
   'bodyArea bodyArea bodyArea'
   'footerArea footerArea footerArea';
 }
body {	margin:0; }

 .bannerArea {
	grid-area:bannerArea;
	background-image: url('../assets/lulusnew.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	
 }
 #navArea { 
	grid-area: navArea;
	background-color: black;
	text-align: center;
 }
nav li {
    display: inline-block;
	padding-right: 20px;
}

nav a {	text-decoration:none;
		color:white;
}

nav li a:hover{ color: #c4dbad;  }
nav a:visited { color:white; }
nav { letter-spacing: 0.1em;
     text-decoration:none;
     border-top: 6px solid #c4dbad;
	 border-bottom: 6px solid #c4dbad;
}
 
 nav ul { list-style-type: none; }
 
.footerArea {
	grid-area:footerArea;
	background-color: black;
    display:grid;
	color: #ffffff;
	padding: 50px 10px 10px 10px;
	border-top: 6px solid #c4dbad;
	border-bottom: 6px solid #c4dbad;
    grid-template-rows: 3fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
	'info social location'
	'totop totop totop';	
	
}	
.footerArea a:visited { color: #c4dbad; }
#info { grid-area: info;
		text-align: center;
    	font-style: italic;
        margin:auto;
}
#social {
    margin:auto;
    grid-area: social;
	padding: 10px 10px 10px 10px;
	text-align: center;
	
}
#social img { margin-top: 50px;
			  padding-right: 30px;
 }
 #location { 
     grid-area: location;
     margin:auto;
 }
 #totop { grid-area: totop;
 margin: auto;
 }
.bodyGrid {
   grid-area:bodyArea;
   margin:auto;
   width:90%;
   display:grid;
   padding: 20px;
   grid-template-rows:1fr;
   grid-template-columns:2fr 1fr;
   grid-template-areas:
   'maincontent details'
 }
 .attr { font-weight: bold;
		color: #083b66;
		padding-right: 100px;
}
 #localimg { width: 1000px;
			height: 600px;
 }

 .maincontent{
   grid-area:maincontent;
 }
 .details {
	 grid-area: details;
 }
 .floatr { float: right; 
margin-top:0;}
  #logo { position: relative;
		 -webkit-animation-name: fade;
		 -webkit-animation-duration: 4s;
		 animation-name: fade;
		 animation-duration: 4s;
 }
 @-webkit-keyframes fade {
	from {opacity: .1}
	to {opacity: 1}
 }
   @media only screen and (max-width: 2000px) {
	 .details {
	 grid-area: details;
	 margin-left: 300px;
	 margin-right: 300px;
 }
 
 @media only screen and (max-width: 950px) {
	#localimg {
		height: 600px;
		width: 700px;
	}
	 .details {
	 grid-area: details;
	 margin-left: 0px;
	 margin-right: 0px;
 }

}
